In [1]:
import requests

In [2]:
import pandas as pd

In [3]:
file_path = "/Users/mareikekeller/Desktop/waqi-covid19-airqualitydata-2025.csv"
df = pd.read_csv(file_path, comment="#")
df.tail()

,Date,Country,City,Specie,count,min,max,median,variance
2321067,2024-03-19,IQ,Baghdad,wind-gust,2,13.8,14.9,13.8,6.05
2321068,2024-04-09,IQ,Baghdad,wind-gust,2,15.9,18.0,15.9,22.05
2321069,2024-06-25,IQ,Baghdad,wind-gust,2,9.7,10.8,9.7,6.05
2321070,2024-12-27,IQ,Baghdad,wind-gust,2,16.4,19.0,16.4,33.80
2321071,2025-02-05,IQ,Baghdad,wind-gust,4,14.4,20.0,15.4,61.07