In [ ]:
# import requests

In [2]:
import pandas as pd

In [3]:
file_path = "/Users/mareikekeller/portfoliokurs/Daten/waqi-covid19-airqualitydata-2025.csv"
df = pd.read_csv(file_path, comment="#")

In [6]:
df.sample(20)

,Date,Country,City,Specie,count,min,max,median,variance
2252274,2024-03-11,GB,Sheffield,wind-speed,71,0.1,5.6,2.0,19.27
2046928,2024-01-09,JP,Akita,no2,47,1.0,30.6,7.5,620.55
828484,2024-11-29,IN,Lucknow,pressure,65,673.0,753.5,745.8,12297.30
2013097,2025-01-08,CA,London,pm25,33,5.0,17.0,9.0,109.39
627504,2024-07-04,MX,Guadalajara,pm10,71,1.0,41.0,2.0,964.12
435774,2024-11-20,FR,Nancy,temperature,144,0.0,6.0,3.5,19.29
944421,2025-01-04,NL,Nijmegen,pm25,46,10.0,87.0,43.0,3760.83
1577910,2024-02-28,CN,Fushun,humidity,120,50.0,79.0,63.5,647.62
2188607,2024-06-30,SE,Stockholm,humidity,192,50.0,96.5,81.0,2412.46
599076,2024-02-05,ES,Madrid,so2,22,0.6,3.1,1.6,6.54
653734,2024-05-22,MX,Monterrey,wind-gust,186,3.0,38.7,11.2,762.51
1020229,2024-02-28,BE,Gent,wind-gust,120,4.5,17.0,11.7,178.65
2318376,2024-03-31,IL,Petaẖ Tiqwa,pm25,23,80.0,100.0,91.0,548.02
1589295,2024-12-02,CN,Hohhot,pm25,54,25.0,129.0,50.0,3639.39
1797341,2024-01-19,RE,Saint-Denis,so2,71,0.3,0.8,0.7,0.10
1407352,2024-07-26,TR,Bursa,humidity,120,57.5,97.0,80.5,1352.83
1384237,2024-01-09,FI,Turku,wind-speed,72,2.3,5.4,4.1,8.86
1960873,2024-05-27,CA,Hamilton,wind-speed,96,0.5,14.0,6.2,97.57
741465,2024-07-29,PL,Płock,so2,23,1.6,9.1,1.8,44.68
1394597,2024-02-21,FI,Tampere,pressure,96,1001.5,1010.5,1006.5,71.33

In [7]:
einzigartige_werte = df['Specie'].unique()
print(einzigartige_werte)

['o3' 'wind-gust' 'pm10' 'humidity' 'so2' 'pm25' 'no2' 'pressure'
 'wind-speed' 'dew' 'co' 'temperature' 'uvi' 'wd' 'precipitation' 'neph'
 'pm1' 'aqi' 'mepaqi']

In [8]:
print(f"{'column':<20}{'# unique values'}")
print("-"*40)
for column in df.columns:
    print(f"{column:<20}{df[column].nunique()}")

column              # unique values
----------------------------------------
Date                415
Country             90
City                579
Specie              19
count               2501
min                 5843
max                 7037
median              5694
variance            390518

In [21]:
mask_london = (df['City'] == "London") & (df['Date'] == "2025-01-08")
df_london = df[mask_london]
print(df_london)

               Date Country    City       Specie  count    min     max  \
2013097  2025-01-08      CA  London         pm25     33    5.0    17.0
2013246  2025-01-08      CA  London          no2     48    0.6     9.5
2013768  2025-01-08      CA  London     humidity     47   75.0    90.8
2014141  2025-01-08      CA  London           o3     48   24.1    33.6
2014679  2025-01-08      CA  London     pressure     47  986.2  1022.8
2014973  2025-01-08      CA  London   wind-speed     43    0.2     6.4
2015342  2025-01-08      CA  London    wind-gust     23    0.4     8.4
2016025  2025-01-08      CA  London          dew     20  -13.0    -9.0
2016297  2025-01-08      CA  London  temperature     47  -11.0    -6.9
2240923  2025-01-08      GB  London   wind-speed    473    0.1     5.7
2241376  2025-01-08      GB  London    wind-gust    349    0.2    10.8
2241510  2025-01-08      GB  London           co    192    1.5     6.8
2241860  2025-01-08      GB  London  temperature    576   -2.0     3.0
2242542  2025-01-08      GB  London         pm10    483    2.0    52.0
2242637  2025-01-08      GB  London     humidity    576   80.0    99.0
2243236  2025-01-08      GB  London          no2    462    4.3    38.0
2243853  2025-01-08      GB  London          dew     72   -1.0     1.0
2244234  2025-01-08      GB  London           o3    226    0.6    20.8
2244584  2025-01-08      GB  London          so2    167    0.3     2.7
2244883  2025-01-08      GB  London         pm25    479    5.0    97.0
2245376  2025-01-08      GB  London     pressure    576  997.2  1030.7

         median  variance
2013097     9.0    109.39
2013246     1.2     71.54
2013768    84.5    182.32
2014141    28.9     69.99
2014679   990.0   2768.35
2014973     2.7     17.57
2015342     3.8     52.41
2016025   -12.0     18.62
2016297    -9.2     11.29
2240923     2.2     19.42
2241376     5.3     79.36
2241510     4.6     24.95
2241860     1.1     12.07
2242542    14.0    391.86
2242637    90.0    140.53
2243236    21.5    492.28
2243853     0.0      5.42
2244234     6.0    266.90
2244584     1.0      2.54
2244883    39.0   2006.72
2245376  1002.3    334.12

In [16]:
mask_london_date = df_london['Date'] == 2024-11-28
df_london_date = df[mask_london_date]
print(df_london_date)

/var/folders/9l/_gqvrbsd14zb0w_nlgtngd_w0000gn/T/ipykernel_27371/318385483.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_london_date = df[mask_london_date]

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).

In [4]:
df.isna().sum()

Date        0
Country     0
City        0
Specie      0
count       0
min         0
max         0
median      0
variance    0
dtype: int64

In [9]:
df.dtypes

Date         object
Country      object
City         object
Specie       object
count         int64
min         float64
max         float64
median      float64
variance    float64
dtype: object

In [21]:
pd.crosstab(df['Specie'], 'count')

col_0           count
Specie
aqi              5489
co             138488
dew            188008
humidity       230281
mepaqi            277
neph              829
no2            189132
o3             168729
pm1               675
pm10           192145
pm25           203779
precipitation   27490
pressure       229653
so2            155282
temperature    231198
uvi              4164
wd               8845
wind-gust      119465
wind-speed     227143

In [7]:
pd.crosstab(df['Specie'], df['Country'])

Country,AE,AR,AT,AU,BA,BD,BE,BG,BH,BR,...,TJ,TM,TR,TW,UG,US,UZ,VN,XK,ZA
Specie,,,,,,,,,,,,,,,,,,,,,
aqi,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,113,0,0
co,559,383,2009,2726,1193,0,511,569,0,1045,...,0,0,5452,3735,0,16439,116,816,41,890
dew,821,396,2056,4564,1225,413,1411,886,0,1198,...,408,329,6990,3726,411,13583,411,1428,7,2483
humidity,821,403,2070,4553,1227,413,2478,1217,368,1197,...,408,329,6991,3728,411,22631,411,1435,410,3157
mepaqi,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
neph,0,0,0,829,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
no2,559,364,2043,3596,1196,0,1080,1181,0,1176,...,0,0,5252,3735,0,17593,45,1310,263,2093
o3,817,147,0,3224,1195,0,1070,1157,0,1179,...,0,0,5277,3735,0,21134,114,1290,264,1818
pm1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
pm10,559,382,2043,4503,1167,0,2484,1044,0,1176,...,0,0,5776,3735,0,14086,71,1109,265,2784
pm25,814,147,1994,4500,1177,410,2480,0,341,1167,...,399,307,5279,3735,394,22561,395,1140,402,2775
precipitation,0,89,1172,2067,417,0,0,0,0,0,...,0,0,974,0,3,314,0,284,0,760
pressure,821,403,2070,4564,1227,413,2478,1220,368,1197,...,408,329,6991,3730,411,22604,411,1435,410,3122
so2,559,82,1954,2840,1196,0,661,637,0,1049,...,0,0,5613,3735,0,11221,113,925,263,2924
temperature,821,403,2070,4562,1227,413,2484,1217,368,1197,...,408,329,6991,3728,411,22630,411,1435,410,3157
uvi,0,0,0,0,0,0,0,0,0,0,...,0,0,0,3339,0,0,0,0,0,0
wd,0,147,0,817,0,0,0,0,0,0,...,0,0,0,0,0,2069,0,0,0,504
wind-gust,42,353,1691,3519,229,2,2123,456,368,820,...,4,6,977,2244,8,21796,55,42,410,2069
wind-speed,821,404,2070,4551,1227,413,2484,1220,368,1197,...,408,329,6988,3728,411,22256,411,1435,410,3079

In [10]:
df.shape

(2321072, 9)

In [11]:
df.describe()

              count           min           max        median      variance
count  2.321072e+06  2.321072e+06  2.321072e+06  2.321072e+06  2.321072e+06
mean   1.211780e+02  1.095159e+02  1.363276e+02  1.200346e+02  2.527201e+03
std    1.801619e+02  2.942539e+02  2.967850e+02  2.947011e+02  4.967260e+04
min    2.000000e+00 -3.273900e+03 -6.420000e+01 -7.600000e+01  0.000000e+00
25%    3.700000e+01  1.000000e+00  9.400000e+00  3.900000e+00  1.760000e+01
50%    7.200000e+01  5.000000e+00  2.600000e+01  1.400000e+01  9.642500e+01
75%    1.440000e+02  2.450000e+01  8.230000e+01  4.800000e+01  6.424125e+02
max    2.616000e+03  1.100000e+03  3.275100e+03  1.301800e+03  3.550800e+07