In [ ]:
# import requests

In [1]:
import pandas as pd

In [2]:
file_path = "/Users/mareikekeller/air_quality/data/waqi-covid19-airqualitydata-2025.csv"
df = pd.read_csv(file_path, comment="#")

In [ ]:
df.sample(20)

,Date,Country,City,Specie,count,min,max,median,variance
1547805,2024-11-22,CN,Yinchuan,co,43,6.4,29.0,13.6,327.86
146369,2024-03-20,US,Staten Island,humidity,96,34.0,75.5,54.6,1256.20
2028647,2024-12-07,NZ,Hamilton,dew,44,11.5,14.3,12.9,5.92
1473628,2024-03-31,GE,Tbilisi,pm10,92,29.0,66.0,47.0,1174.91
169520,2024-02-06,US,Los Angeles,wind-speed,25,0.1,3.9,1.0,15.44
1487935,2024-11-18,CN,Beijing,temperature,288,-3.5,8.0,3.5,158.82
662815,2024-07-07,MX,Tepic,pm10,24,14.0,30.0,22.0,185.80
1282619,2024-09-14,CL,Calama,pm25,48,9.0,61.0,25.0,1531.47
950466,2024-10-15,NL,Eindhoven,o3,72,0.5,15.1,4.5,267.97
1621670,2024-11-03,CN,Xi’an,pm25,450,34.0,170.0,114.0,8309.22
713910,2024-12-31,PL,Szczecin,temperature,51,-67.7,4.6,2.2,8008.84
2131685,2024-07-05,JP,Sendai,no2,462,1.0,28.8,11.2,173.87
597807,2024-10-19,ES,Granada,pressure,72,1016.1,1025.0,1017.7,56.43
185601,2024-03-05,US,Omaha,humidity,48,22.3,62.9,47.0,1621.33
1272852,2024-09-27,CL,Osorno,wind-speed,48,0.3,8.2,3.0,51.29
712719,2024-05-03,PL,Rybnik,o3,48,7.2,48.1,30.6,1338.73
2098015,2024-02-11,JP,Saitama,wind-gust,408,1.5,20.0,11.5,269.82
1690212,2025-01-16,CN,Taiyuan,no2,149,8.7,43.9,25.6,446.82
1520717,2024-02-04,CN,Ürümqi,no2,188,5.1,57.9,20.6,1435.75
888668,2024-07-15,IN,Bengaluru,pm10,53,4.0,81.0,15.0,4232.61

In [7]:
einzigartige_werte = df['Specie'].unique()
print(einzigartige_werte)

['o3' 'wind-gust' 'pm10' 'humidity' 'so2' 'pm25' 'no2' 'pressure'
 'wind-speed' 'dew' 'co' 'temperature' 'uvi' 'wd' 'precipitation' 'neph'
 'pm1' 'aqi' 'mepaqi']

In [8]:
print(f"{'column':<20}{'# unique values'}")
print("-"*40)
for column in df.columns:
    print(f"{column:<20}{df[column].nunique()}")

column              # unique values
----------------------------------------
Date                415
Country             90
City                579
Specie              19
count               2501
min                 5843
max                 7037
median              5694
variance            390518

In [21]:
mask_london = (df['City'] == "London") & (df['Date'] == "2025-01-08")
df_london = df[mask_london]
print(df_london)

               Date Country    City       Specie  count    min     max  \
2013097  2025-01-08      CA  London         pm25     33    5.0    17.0
2013246  2025-01-08      CA  London          no2     48    0.6     9.5
2013768  2025-01-08      CA  London     humidity     47   75.0    90.8
2014141  2025-01-08      CA  London           o3     48   24.1    33.6
2014679  2025-01-08      CA  London     pressure     47  986.2  1022.8
2014973  2025-01-08      CA  London   wind-speed     43    0.2     6.4
2015342  2025-01-08      CA  London    wind-gust     23    0.4     8.4
2016025  2025-01-08      CA  London          dew     20  -13.0    -9.0
2016297  2025-01-08      CA  London  temperature     47  -11.0    -6.9
2240923  2025-01-08      GB  London   wind-speed    473    0.1     5.7
2241376  2025-01-08      GB  London    wind-gust    349    0.2    10.8
2241510  2025-01-08      GB  London           co    192    1.5     6.8
2241860  2025-01-08      GB  London  temperature    576   -2.0     3.0
2242542  2025-01-08      GB  London         pm10    483    2.0    52.0
2242637  2025-01-08      GB  London     humidity    576   80.0    99.0
2243236  2025-01-08      GB  London          no2    462    4.3    38.0
2243853  2025-01-08      GB  London          dew     72   -1.0     1.0
2244234  2025-01-08      GB  London           o3    226    0.6    20.8
2244584  2025-01-08      GB  London          so2    167    0.3     2.7
2244883  2025-01-08      GB  London         pm25    479    5.0    97.0
2245376  2025-01-08      GB  London     pressure    576  997.2  1030.7

         median  variance
2013097     9.0    109.39
2013246     1.2     71.54
2013768    84.5    182.32
2014141    28.9     69.99
2014679   990.0   2768.35
2014973     2.7     17.57
2015342     3.8     52.41
2016025   -12.0     18.62
2016297    -9.2     11.29
2240923     2.2     19.42
2241376     5.3     79.36
2241510     4.6     24.95
2241860     1.1     12.07
2242542    14.0    391.86
2242637    90.0    140.53
2243236    21.5    492.28
2243853     0.0      5.42
2244234     6.0    266.90
2244584     1.0      2.54
2244883    39.0   2006.72
2245376  1002.3    334.12

In [4]:
df.isna().sum()

Date        0
Country     0
City        0
Specie      0
count       0
min         0
max         0
median      0
variance    0
dtype: int64

In [9]:
df.dtypes

Date         object
Country      object
City         object
Specie       object
count         int64
min         float64
max         float64
median      float64
variance    float64
dtype: object

In [4]:
pd.crosstab(df['Country'], 'count')

col_0     count
Country
AE         8014
AR         4103
AT        23242
AU        51415
BA        13903
...         ...
US       230917
UZ         2964
VN        14197
XK         3555
ZA        31615

[90 rows x 1 columns]

In [10]:
countries_count = df.loc[:, 'Country'].value_counts()
print(countries_count.head(10))

Country
US    230917
CN    229845
JP    154716
FR    104284
IN    102670
ES    101589
KR     93470
GB     85555
DE     71771
TR     69551
Name: count, dtype: int64

In [16]:
city_counts = df.groupby(["Country", "City"]).size().reset_index(name="count")

# Für jedes Land die Stadt mit den meisten Einträgen finden
max_city_per_country = city_counts.loc[city_counts.groupby("Country")["count"].idxmax()]

# Ergebnisse anzeigen
print(max_city_per_country)

    Country          City  count
0        AE     Abu Dhabi   4571
2        AR  Buenos Aires   4103
7        AT        Vienna   4849
9        AU      Brisbane   5599
19       BA      Sarajevo   4665
..      ...           ...    ...
519      US        Dallas   5143
564      UZ      Tashkent   2964
566      VN         Hanoi   4502
570      XK      Pristina   3555
578      ZA      Pretoria   4872

[90 rows x 3 columns]

In [10]:
df.shape

(2321072, 9)

In [11]:
df.describe()

              count           min           max        median      variance
count  2.321072e+06  2.321072e+06  2.321072e+06  2.321072e+06  2.321072e+06
mean   1.211780e+02  1.095159e+02  1.363276e+02  1.200346e+02  2.527201e+03
std    1.801619e+02  2.942539e+02  2.967850e+02  2.947011e+02  4.967260e+04
min    2.000000e+00 -3.273900e+03 -6.420000e+01 -7.600000e+01  0.000000e+00
25%    3.700000e+01  1.000000e+00  9.400000e+00  3.900000e+00  1.760000e+01
50%    7.200000e+01  5.000000e+00  2.600000e+01  1.400000e+01  9.642500e+01
75%    1.440000e+02  2.450000e+01  8.230000e+01  4.800000e+01  6.424125e+02
max    2.616000e+03  1.100000e+03  3.275100e+03  1.301800e+03  3.550800e+07