In [1]:
import requests

In [6]:
import pandas as pd

In [8]:
file_path = "/Users/mareikekeller/portfoliokurs/Daten/waqi-covid19-airqualitydata-2025.csv"
df = pd.read_csv(file_path, comment="#")

In [9]:
df.head()

         Date Country  City Specie  count  min   max  median  variance
0  2024-12-16      PE  Lima     o3    120  0.4  20.2     1.7    107.87
1  2025-01-04      PE  Lima     o3    192  0.3  29.9     2.6    352.15
2  2024-02-06      PE  Lima     o3    167  0.8  15.6     4.9     91.98
3  2024-04-19      PE  Lima     o3    144  0.8  11.3     5.4    101.73
4  2024-08-15      PE  Lima     o3     97  1.1  13.7     2.8     62.46

In [19]:
einzigartige_werte = df['Specie'].unique()
print(einzigartige_werte)

['o3' 'wind-gust' 'pm10' 'humidity' 'so2' 'pm25' 'no2' 'pressure'
 'wind-speed' 'dew' 'co' 'temperature' 'uvi' 'wd' 'precipitation' 'neph'
 'pm1' 'aqi' 'mepaqi']

In [21]:
pd.crosstab(df['Specie'], 'count')

col_0           count
Specie
aqi              5489
co             138488
dew            188008
humidity       230281
mepaqi            277
neph              829
no2            189132
o3             168729
pm1               675
pm10           192145
pm25           203779
precipitation   27490
pressure       229653
so2            155282
temperature    231198
uvi              4164
wd               8845
wind-gust      119465
wind-speed     227143

In [10]:
df.shape

(2321072, 9)

In [11]:
df.describe()

              count           min           max        median      variance
count  2.321072e+06  2.321072e+06  2.321072e+06  2.321072e+06  2.321072e+06
mean   1.211780e+02  1.095159e+02  1.363276e+02  1.200346e+02  2.527201e+03
std    1.801619e+02  2.942539e+02  2.967850e+02  2.947011e+02  4.967260e+04
min    2.000000e+00 -3.273900e+03 -6.420000e+01 -7.600000e+01  0.000000e+00
25%    3.700000e+01  1.000000e+00  9.400000e+00  3.900000e+00  1.760000e+01
50%    7.200000e+01  5.000000e+00  2.600000e+01  1.400000e+01  9.642500e+01
75%    1.440000e+02  2.450000e+01  8.230000e+01  4.800000e+01  6.424125e+02
max    2.616000e+03  1.100000e+03  3.275100e+03  1.301800e+03  3.550800e+07